$scoreSize: 1.55em;
$starSize: 15px;
$scoreScale400: 1.2;
$scoreScale650: 1.3;
$scoreScale800: 1.6;
$victorySize: 1.1em;
$playAgainSize: 1em;
$scrollZoom: 150vw;
$victoryScale400: 1.3;
$victoryScale650: 1.4;
$victoryScale800: 1.6;
@media screen and (max-width: 380px) {
    .score-panel {
        font-size: $scoreSize;
    }
    .victory-text {
        font-size: $victorySize;
        line-height: $victorySize * 0.9;
    }
    .stars img,
    .repeat {
        width: $starSize;
        height: $starSize;
    }
    .modal-container {
        background: rgba(46, 61, 73, 0.7) url('../img/scroll/450.png') no-repeat;
        background-size: $scrollZoom;
    }
    .modal-content {
        width: 60%;
    }
    .play-again {
        font-size: $playAgainSize;
    }
    body {
        background: #422835 url('../img/ground/400.png');
    }
}

@media screen and (min-width: 381px) and (max-width: 599px) {
    .score-panel {
        font-size: $scoreSize * $scoreScale400;
    }
    .victory-text {
        font-size: $victorySize * $victoryScale400;
        line-height: $victorySize * 0.7 * $victoryScale400;
    }
    .stars img,
    .repeat {
        width: $starSize * $scoreScale400;
        height: $starSize * $scoreScale400;
    }
    .modal-container {
        background: rgba(46, 61, 73, 0.7) url('../img/scroll/900.png') no-repeat;
        background-size: $scrollZoom - 20;
    }
    .modal-content {
        width: 80% / $victoryScale400;
    }
    .play-again {
        font-size: $playAgainSize * $victoryScale400;
    }
}

@media screen and (min-width: 381px) and (max-width: 799px) {
    body {
        background: #422835 url('../img/ground/800.png');
    }
}

@media screen and (min-width: 475px) and (max-width: 599px) {
    .victory-text {
        font-size: $victorySize * 1.2 * $victoryScale400;
        line-height: $victorySize * 0.8 * $victoryScale400;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .score-panel {
        font-size: $scoreSize * $scoreScale650;
    }
    .victory-text {
        font-size: $victorySize * $victoryScale650;
        line-height: $victorySize * 1.2 * $victoryScale650;
    }
    .stars img,
    .repeat {
        width: $starSize * $scoreScale650;
        height: $starSize * $scoreScale650;
    }
    .modal-container {
        background: rgba(46, 61, 73, 0.7) url('../img/scroll/1800.png') no-repeat;
        background-size: $scrollZoom / $victoryScale650;
    }
    .modal-content {
        width: 70% / $victoryScale400;
    }
    .play-again {
        font-size: $playAgainSize * $victoryScale400;
    }
}

@media screen and (min-width: 800px) {
    .score-panel {
        font-size: $scoreSize * $scoreScale800;
    }
    .victory-text {
        font-size: $victorySize* $victoryScale800;
        line-height: $victorySize * 1 * $victoryScale800;
    }
    .stars img,
    .repeat {
        width: $starSize * $scoreScale800;
        height: $starSize * $scoreScale800;
    }
    .modal-container {
        background: rgba(46, 61, 73, 0.7) url('../img/scroll/900.png') no-repeat;
        background-size: $scrollZoom / $victoryScale800;
    }
    .modal-content {
        width: 60% / $victoryScale400;
    }
    .play-again {
        font-size: $playAgainSize * $victoryScale400;
    }
    body {
        background: #422835 url('../img/ground/1600.png');
    }
}

@media screen and (min-width: 1600px) {
    body {
        background: #422835 url('../img/ground/3200.png');
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    text-rendering: optimizeLegibility; //image-rendering: pixelated;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-size: 80vmax;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.wait,
body.wait * {
    cursor: wait !important;
}

.container {
    width: 95%;
    min-width: 300px;
    max-width: 750px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 21%; //height: 24.5%;
    background: url('../img/crate/144.png') no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.card.open {
    background: none;
    cursor: default;
}

.mobCard {
    height: 85%;
    width: 85%;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFF;
}

.score-panel span {
    margin-right: 5px;
}

.score-panel div {
    display: inline-block;
}

.star,
.repeat {
    vertical-align: baseline;
}

.repeat {
    cursor: pointer;
}

.header {
    width: 100%;
    text-align: center;
}

.game-logo {
    margin-top: 15px;
    width: 95%;
    max-width: 550px;
}

.star {
    width: 25px;
    height: 25px;
}

.hidden {
    visibility: hidden;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-attachment: fixed;
    position: fixed;
    left: 0;
    top: 0;
}

.modal-content {
    margin: 20% auto;
    padding: 20%;
    max-width: 500px;
    text-align: center;
}

.modal-content p::first-letter {
    font-size: 200%;
    float: left;
}

.victory-text {
    text-align: left;
}

.play-again {
    font-family: 'VT323', monospace;
    width: 75%;
    height: 10%;
    min-width: 40px;
    min-height: 40px;
    margin: 4px;
    border: 5px solid #824900;
    cursor: pointer;
}

.play-again:hover {
    transform: translate(-6px, -6px);
    -webkit-transform: translate(-6px, -6px);
    -ms-transform: translate(-6px, -6px);
    -webkit-box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.3);
}

@import 'ani';